.idea/*
API/.DS_Store
.DS_Store
API/news_evaluation/__pycache__/*
API/__pycache__/*
API/webScraper/__pycache__/*
*.pyc
API/__pycache__/main.cpython-38.pyc
API/news_evaluation/__pycache__/sensationalism.cpython-38.pyc
API/PreProcessing/__pycache__/PreProcessing.cpython-38.pyc
API/webScraper/__pycache__/WebScraper.cpython-38.pyc
API/debunker.db
API/test2.py
API/test2.csv
API/test.py
API/test.json.zip
API/test.json
API/test.csv
API/test 2.json
API/test3.py
API/test.py
