accelerate==0.21.0
annotated-types==0.5.0
anyio==3.7.1
beautifulsoup4==4.12.2
blis==0.7.10
catalogue==2.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
confection==0.1.1
constantly==15.1.0
cymem==2.0.7
dateparser==1.1.8
emojis==0.7.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
fastapi==0.101.1
filelock==3.12.2
fsspec==2023.6.0
htmldate==1.4.3
huggingface-hub==0.16.4
idna==3.4
igraph==0.10.6
incremental==22.10.0
Jinja2==3.1.2
langcodes==3.3.0
loralib==0.1.1
lxml==4.9.3
MarkupSafe==2.1.3
mpmath==1.3.0
murmurhash==1.0.9
networkx==3.1
numpy==1.25.2
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
pathy==0.10.2
peft==0.4.0
preshed==3.0.8
Protego==0.3.0
psutil==5.9.5
pyasn1==0.5.0
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
PyDispatcher==2.0.7
pyphen==0.14.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
queuelib==1.6.2
regex==2023.8.8
requests==2.31.0
requests-file==1.5.1
safetensors==0.3.2
scheduler==0.8.4
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.19
srsly==2.4.7
starlette==0.27.0
sympy==1.12
textstat==0.7.3
texttable==1.6.7
thinc==8.1.12
tldextract==3.4.4
tokenizers==0.13.3
torch==2.0.1
tqdm==4.66.1
transformers==4.31.0
typeguard==4.1.0
typer==0.9.0
typing==3.7.4.3
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
uvicorn==0.21.1
w3lib==2.1.2
wasabi==1.1.2
whois==0.9.27
zope.interface==6.0
https://github.com/explosion/spacy-models/releases/download/it_core_news_lg-3.6.0/it_core_news_lg-3.6.0-py3-none-any.whl